Language: Cpp
IndentWidth: 2
BinPackArguments: false
BinPackParameters: false
MaxEmptyLinesToKeep: 3
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SpaceBeforeCpp11BracedList: false
UseTab: Never
TabWidth: 2
Cpp11BracedListStyle: true
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ColumnLimit: 80
BreakStringLiterals: true
BreakInheritanceList: BeforeComma
BreakBeforeTernaryOperators: true
AlwaysBreakTemplateDeclarations: Yes
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: false
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeComma